
.keyboard {
    width: 700px;
    height: 300px;
    margin-top: 60px;
  }

.line {
    flex: 33%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 5px;
  }

@media (max-width: 575px) {
.keyboard {
    width: 375px;
    height: auto;
    margin-top: 25px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
    .keyboard {
        width: 400px;
        height: auto;
        margin-top: 35px;
      }
}